{% extends "_base.html" %}

{% block content %}


<div class="row">

  <div class="col-md-7">
    <h2>Select your favorite image</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p><img src="/static/IMAGE.png" style="height: 250px;" class="img"></p>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <br>
    <p id="searching"></p>
    <p id="error">Oh no! No results! Check your internet connection.</p>
  </div>

</div>

<br>

{% endblock %}
