{% extends "_base.html" %}

{% block content %}


<div class="row">

  <div class="col-md-7">
    <h2>Select your favorite image</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
<p><img src="/static/images/01_1508179734.png" style="height: 2 50px;" class="img"></p> 
<p><img src="/static/images/02_1508179734.png" style="height: 2 50px;" class="img"></p> 
<p><img src="/static/images/03_1508179734.png" style="height: 2 50px;" class="img"></p> 
<p><img src="/static/images/04_1508179734.png" style="height: 2 50px;" class="img"></p> 
<p><img src="/static/images/05_1508179734.png" style="height: 2 50px;" class="img"></p> 
<p><img src="/static/images/06_1508179734.png" style="height: 2 50px;" class="img"></p> 
<p><img src="/static/images/07_1508179734.png" style="height: 2 50px;" class="img"></p> 
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <br>
    <p id="searching"></p>
    <p id="error">Oh no! No results! Check your internet connection.</p>
  </div>

</div>

<br>

{% endblock %}
